.result {
  color: #fff;
  margin-top: 280px;
  position: absolute;
}

.movie {
  margin-left: 60px;
}

.movie img {
  width: 160px;
  height: 240px;
  margin-top: 10px;
  margin-right: 10px;
  transition: transform 0.1s ease-in;
}

.movie img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 10px rgba(110, 110, 110, 0.3);
}

.result_title {
  margin-left: 30px;
  padding-bottom: 10px;
}
